<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>SpoQ</h1>
      </ion-col>
      <ion-col size="12" size-md="6" offset-md="3">
        <p>Safari verhindert möglicherweise das Abspielen der Musik.</p>
        <p>Falls dieses Problem bei dir auftritt, kannst du wie folgt vorgehen:</p>
      </ion-col>
      <ion-col size="12" size-md="6" offset-md="3">
        <ol style="text-align: left;">
          <li>Öffne die Einstellungen im Safari</li>
          <li>Wähle das Tab "Websites" aus</li>
          <li>Wähle in der Seitenleiste den Punkt "Automatische-Wiedergabe" aus</li>
          <li>Ändere die Einstellungen für diese Webseite auf "Für alle Medien erlauben"</li>
        </ol>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar style="text-align: center;">
    <ion-button color="danger" routerLink="/" routerDirection="root">Zurück</ion-button>
  </ion-toolbar>
</ion-footer>